@font-face {
    font-family: 'futura';
    src: url(../fonts/FuturaRenner-Regular.otf);
}

@font-face {
    font-family: 'avenir';
    src: url(../fonts/avenir_roman_12.otf);
}

html {
    font-size: 16px;
}

h2, h3, h4 {
    font-family: 'futura', sans-serif;
}

p, a {
    font-family: 'avenir', sans-serif;
}

.button-div {
    font-family: 'avenir', sans-serif;
}

#header-burger {
    transition: transform 0.2s ease;
}

#header-burger:hover {
    cursor: pointer;
}

#header-nav ul li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    font-size: 1.2rem;
}

#header-nav ul li a:hover, #footer-nav ul li a:hover {
    color: #E9168A;
}

.burger-rotated {
    transform: rotate(90deg);
}

.home-more-heading {
    font-family: 'futura', sans-serif;
}

.home-more-link:hover {
    color: #E9168A;
    cursor:pointer;
}

.prod-info-button {
    padding: 20px;
    background-color: #E9168A;
    border-radius: 25px;
    margin: 10px 0;
    transition: transform 0.2s ease;
    font-size: 0.8rem;
}

.button-scale {
    transition: transform 0.2s ease;
}

.button-scale:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.prod-flav-button {
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    transition: transform 0.2s ease;
}

.prod-flav-button-deselected {
    background-color: #656464;
    color: white;
}

.prod-flav-button-grapefruit {
    background-color: #E9168A;
    color: black;
}

.prod-flav-button-passionfruit {
    background-color: #ED1C27;
    color: black;
}

.prod-flav-button-orange {
    background-color: #F7A51E;
    color: black;
}

.prod-flav-button-pineapple {
    background-color: #7DA23F;
    color: black;
}

.prod-flav-name {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.prod-flav-bio {
    margin-bottom: 1rem;
}

.prod-flav-main-ingredients {
    margin-bottom: 2rem;
}

.prod-flav-ingredients {
    display: none;
    font-size: 0.5rem;
}

.prod-flav-second-ingredients {
    display: flex;
    font-size: 0.5rem;
}

#prod-cans-create-button {
    transition: transform 0.2s ease;
}

.lightbox { 
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    justify-content: center;
    align-items: center;
}

.lightbox-closer:hover {
    color:#E9168A;
    cursor: pointer;
}

.comm_socials {
    background-image: url(../images/comm_mob_socialbg_770.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }

    #header-nav ul li a {
        font-size: 1rem;
    }

    .prod-flav-ingredients {
        display: block;
    }

    .prod-flav-second-ingredients {
        display: none;
    }

    .comm_socials {
        background-image: url(../images/comm_tab_socialbg_1030.jpeg);
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 24px;
    }

    #header-nav ul li a {
        font-size: 1rem;
    }

    .prod-flav-ingredients {
        display: block;
    }

    .prod-flav-second-ingredients {
        display: none;
    }

    .comm_socials {
        background-image: url(../images/comm_desk_socialbg_1510.jpeg);
    }
}